$white:#fff;

$gold-reg:#c2a475;
$gold-dark:#866d42;
$gold-light:#f5f4f0;
$gold-light-dark:#dacbb1;
$gold-dvdr:#f2efea;
$gold-20:#f3ede3;
$gold-50:#dac8ac;


$black-reg:#1c252b;
$black-70:#6c7174;
$black-50:#999c9e;
$black-40:#afb1b3;
$blackdvdr:#d8d9da;
$red-space:#ff2d34;
$green-space:#12ca4e;

$facebook:#3c589e;
$google:#e34d42;


$font-10:10px;
$font-11:11px;
$font-12:12px;
$font-13:13px;
$font-14:14px;
$font-15:15px;
$font-16:16px;
$font-18:18px;
$font-20:20px;
$font-22:22px;
$font-24:24px;
$font-26:26px;
$font-30:30px;
$font-32:32px;
$font-36:36px;
$font-40:40px;
$font-50:50px;
