#toast-container {
  display:block;
  position: fixed;
  z-index: 10000;

  @media #{$small-and-down} {
    min-width: 40%;
    top: -6px;
	 right: 1%;
  }
  @media #{$medium-only} {
    right: 2%;
    top: 11px;
    max-width: 90%;
  }
  @media #{$large-and-up} {
    top: 1%;
    right: 1%;
    max-width: 86%;
  }
}

.toast {
  @extend .z-depth-0;
  border-radius: 2px;
  top: 35px;
  width: auto;
  margin-top: 10px;
  position: relative;
  max-width:100%;
  height: auto;
  min-height: $toast-height;
  line-height: 20px;
  background-color: #c2a475;
  padding: 10px 25px;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;

  .toast-action {
    color: $toast-action-color;
    font-weight: 500;
    margin-right: -25px;
    margin-left: 3rem;
  }

  &.rounded{
    border-radius: 24px;
  }

  @media #{$small-and-down} {
    width: 100%;
    border-radius: 0;
  }
}
