@media (min-width: 800px) and (max-width: 929px){
	  #products-details{
        .sp-container{padding: 0px 15px;}
    }
}

/*-- tab --*/

@media (min-width: 601px) and (max-width: 799px){
    #products-details{
        .sp-container{padding: 0px 15px;
			.prd-dtl{
				.prd-dtl-pad{ padding-left: 0px; }
				.bdr-ft{ border: none; }
				.wid-left-dtl{ width: 100% ;
					.prd-dtlimg{  margin-right: 0px;
						.dtl-share{ left: 8px; bottom: 8px!important; top: auto;}
							.share-details{ left: 8px; bottom: 8px!important; top: auto;}
							.dtl-close{ border-radius:30px; position: absolute; top: 10px; right: 10px; display: inherit;
								z-index: 9; text-align: center;
								.space-flatbdr-gold {
									.btn-flat{ background: $white }
								}
								
							}
					}
				}
				.wid-right-dtl{ width: 100%;margin-top: 20px;
					.prd-dtl-title{
						.prd-dtl-title-left{ width: 100%}
						.prd-dtl-title-right{ display: none}
					}
				}
			} 
		}
		
    }
}

/*-- mobile --*/

@media (max-width: 600px) {
    #products-details{margin: 15px 0px;margin-bottom: 65px;
        .sp-container{padding: 0px 0px;
			.prd-dtl{ padding: 10px;
				.prd-dtl-pad{ padding-left: 0px; }
				.bdr-ft{ border: none; }
				.wid-left-dtl{ width: 100%;
						.prd-dtlimg{  margin-right: 0px;
							.dtl-share{ left: 8px; bottom: 8px!important; top: auto;}
							.share-details{ left: 8px; bottom: 8px!important; top: auto;}
							.dtl-close{ border-radius:30px; position: absolute; top: 10px; right: 10px;display: inherit;
								z-index: 9; text-align: center;
								.space-flatbdr-gold {
									.btn-flat{ background: $gold-20 }
								}
								
							}
					}
				}
				.wid-right-dtl{ width: 100%; margin-top: 20px; padding: 0px 15px;
					.prd-dtl-title{
						.prd-dtl-title-left{ width: 100%}
						.prd-dtl-title-right{ display: none}
					} 
					.dtl-activity{
						.mobcentr{ width: 222px;  margin: 0 auto;}
						.activity-3{ width: 100%;
                            .space-btn .btn{    height: 46px; line-height: 46px; margin-top: 15px;}
                        }
                        .activity-1{ width:180px; 
                            button[class*=btn]{ height: 46px; }
                            .quantity {
                                input{ height: 44px; }
                            }
                        }
						.activity-2{ width: 42px;
                            .dtl-myload{ height: 46px; width: 46px; }
                        }
					} 
				}
				
			} 
		}
		
    }	
}
