/*-- tab --*/

@media (min-width: 601px) and (max-width: 929px){
    #products{
        .sp-container{padding: 0px 15px;
			.prd-bg{
				.width-30{ padding: 10px;
					.prd-img{ height: 140px;
						.prd-price{
							.normal-price{float: none;}
							.offer-price{ float: none;margin-top: -4px; margin-left: 0px;padding: 6px 15px;}
						} 
					} 
				}
			} 
        }
    }
}

/*-- mobile --*/

@media (max-width: 600px) {
    #products{margin: 15px 0px;margin-bottom: 65px;
        .prd-bg{    padding: 0px 0px;
        } 

 .sp-container{
	  .sp-hed{ padding: 0px 10px;
		  .sp-hed-left{
		 	h2{font-size: $font-22;margin-bottom: 15px;}
	 	}
	 .sp-hed-right{ margin-top: -5px; }
		}
			.prd-bg{
				.width-30{ padding: 10px; width: 50%;
					.prd-img{ height: 130px;
						.prd-price{
							.normal-price{float: none;}
							.offer-price{ float: none;margin-top: -4px; margin-left: 0px;padding: 6px 15px;}
						} 
					} 
				}
			} 
		}
 
    }
	#myload-btm{ display: none;}
}
