/*-- tab --*/

@media (min-width: 601px) and (max-width: 929px){
    #delivery{
        .sp-container{padding: 0px 15px;}
        
}
}
/*-- mobile --*/

@media (max-width: 600px) {
#delivery{ margin: 15px 0px;margin-bottom: 65px;
        .sp-container{padding: 0px 15px;}
    .address-box{ width: 100%;
       .select-add .dropdown-wrapper .ae-dropdown .dropdown-menu{ width: 96%;} 
       .select-add .dropdown-wrapper .ae-dropdown1 .dropdown-menu1{ width: 96%;} 
        .select-add ul.dropdown-menu .drop-space{ height: 125px; }
        .select-add ul.dropdown-menu1 .drop-space{ height: 125px; }


    }
    }   
}

