.mar-btm-0{ margin-bottom: 0px!important }
.mar-top-30{ margin-top: 30px; }
.mar-top-20{ margin-top: 20px; }
.pad-top-0{ padding-top: 0px!important; }
.mar-top-20m{ margin-top: -20px; }
.bdr-none{ border: none!important; }

.width-100{ width: 100%; }
.width-50{width: 50%;}
.width-30{width: 33.3%; float: left;}
.width-70{width: 66.7%; float: left;}


